@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("new.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.login1 .btnLogin-popup {
    margin-left: 101rem;
    margin-top: -4.2rem;
    width: 120px;
    height: 45px;
    background: #fff;
    border: 2px solid black;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1rem;
    color: #020000;
    font-weight: 500;

}

.login1 .btnLogin-popup a {
    color: #000000;
}

.login1 .btnLogin-popup:hover {
    background: #000000;
    color: #fff;
    border: 2px solid #fff;
    transition: 0.5s;
}

.login1 .btnLogin-popup a:hover {
    color: #fff;
}

.video {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.wrapper {
    position: relative;
    display: flex;
    width: 400px;
    height: 440px;
    background: white;
    border: 2px solid #162938;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    z-index: 200;
    overflow: hidden;
    transition: transform 0.5s ease, height 0.2s ease;
}

.wrapperactive-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 590px;
}

.wrapper .form-box {
    /* width: 100%; */
    padding: 40px;
}

.wrapper .form-box.login {
    transition: 0.18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);

}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: 0.18s ease;
    transform: translateX(0);
}

/* .wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    border: 2px solid #fff;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
} */
.form-box h2 {
    font-size: 2em;
    color: #000000;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
}

.input-box p {
    font-size: 14px;
    display: inline-block;
    padding: 0 20px;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 88%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    top: 17px;
    right: 8px;
    font-size: 1.2rem;

}

.remember-forgot {
    font-size: 0.9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    margin-top: 1px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot a {
    color: #162938;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register {
    font-size: 0.9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}